* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --mainColor:#6779A6;
    --white:#ffffff;
    --pdfColor:#e20823;
    --noPdfColor:rgb(170, 169, 169);
}
/*************Header Style ************************/
#name-project {
    margin:1em 2em ;
    color: var(--mainColor);
    font-size: 2.5em;
    font-weight: bold;
}
/*************Main Style ************************/
#submitForm {
    width: 80vw;
    margin: 0 auto;
}
#name {
    width: 80%;
    height: 3em;
    padding: 1em;
    border: 2px solid var(--mainColor);
    font-size: 1em;
}
#submitBtn {
    height: 3em;
    width: 19%;
    background-color: var(--mainColor);
    color: var(--white);
    border: 2px solid var(--mainColor);
    font-size: 1em;
    font-weight: bold;
}
/*************info-section Style ************************/
#info-section {
    width: 80vw;
    margin: 2em auto;
}
table {
    width: 100%;
    margin-bottom: 3em;
}
table,td,th,tr {
    border: 1px solid var(--mainColor);
    border-collapse: collapse;
    padding: 0.5em;
}
table thead tr:first-of-type td {
    text-align: center;
}
.title {
    font-size: 1.5em;
    color: var(--mainColor);
    font-weight: bolder;
}
.fa-file-pdf {
    color:var(--pdfColor) ;
}
.fa-file-pdf-null{
    color:var(--noPdfColor) ;
}

/*************Responsive ************************/
@media (max-width:768px) {
    #name-project {
        text-align: center;
        font-size: 1.5em;
    }
    #name {
        width: 70%;
    }
    #submitBtn {
        width: 28%;
    }
    #info-section {
        overflow-x: scroll;
    }
    
}

.error {
    color: var(--pdfColor);
    margin:  0.5em auto;
    text-align: center;
    display: block;
    font-size: 1.5em;
}
/*************Responsive ************************/
.loading {
  margin:  0 auto;
  width: 80px;
}
.display {
    display: none;
}
.lds-spinner {
    color: black;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--mainColor);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }